<div class="lineContainer">
  <ng-container *ngFor="let height of randomNumberList; let i = index">
    <div
      *ngIf="i != redIndex && i != yellowIndex"
      class="line"
      [style.height.px]="height"
    ></div>
    <div
      *ngIf="i == redIndex"
      class="line"
      [style.height.px]="height"
      [style.border-color]="'red'"
    ></div>
    <div
      *ngIf="i == yellowIndex"
      class="line"
      [style.height.px]="height"
      [style.border-color]="'yellow'"
    ></div>
  </ng-container>
</div>
<button (click)="sortMerge()" [disabled]="isSorting">Merge Sort</button>
<button (click)="sortInsertion()" [disabled]="isSorting">Insertion Sort</button>
<button (click)="sortQuick()" [disabled]="isSorting">Quick Sort</button>
<button (click)="sortHeap()" [disabled]="isSorting">Heap Sort</button>

<div class="slidecontainer">
  <p>Sort Speed:</p>
  <input
    #sortSpeed
    [disabled]="isSorting"
    type="range"
    min="1"
    max="10"
    value="5"
    class="slider"
    (input)="setSortSpeed(sortSpeed.value)"
  />

  <p>Input Length:</p>
  <input
    #arrLength
    [disabled]="isSorting"
    type="range"
    min="25"
    max="150"
    value="100"
    class="slider"
    (input)="setArrLength(arrLength.value)"
  />
</div>
