.container {
  width: 80vw;
  height: 90vh;
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.line {
  margin-right: 3px;
}

.lineContainer {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.inputContainer {
  margin: auto auto;
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.buttonContainer button {
  width: 30%;
  height: 120%;
  display: inline-block;
  padding: 0.50em 1.8em;
  border: 0.2em solid #000000;
  margin: 0 3em 0.2em 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: rgb(63, 160, 18);
  text-align: center;
  transition: all 0.15s;
}

.buttonContainer button:hover:enabled {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #ffffff;
  border-color: #ffffff;
}

.buttonContainer button:disabled {
  background-color: rgb(193, 240, 195);
}

.slideContainer {
  width: 100%;
  height: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.slide p {
  display: inline-block;
  width: 100px;
}

.slide input {
  display: inline-block;
}
